/* =====================General============================= */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* =============================Header============================= */

header {
    border-bottom: 5px solid red;
    /* border-bottom: 5px solid white; */
    position: fixed;
    width: 100%;
    background-color: rgba(222, 0, 0, 1);
    /* background-color: black; */
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
}

.logo_plus_info {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;

}

.logo {
    margin-top: 0.2em;
    width: 100px;
}

.logo img {
    width: 100%;
}

.info {
    margin-right: 0.6em;
}

.my_info {
    text-transform: uppercase;
    text-align: right;
    color: white;
    margin: 0;
    font-weight: 300;
}

.my_name {
    text-transform: uppercase;
    text-align: right;
    color: white;
    margin: 0;
    font-weight: 300;
}

/* ============================Main=================================== */

main {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 125px;
}

#hero {
    max-width: 960px;
}

#hero img {
    width: 100%;
}

.section_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_header {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.article {
    max-width: 290px;
    box-shadow: 0 0 4px darkgray;
    border-radius: 8px;
    margin: 0 0.25em 1em 0.25em;
    transition: background 2s ease;
}

.article:hover {
    box-shadow: 0 0 12px darkgray;
}

.article img {
    width: 100%;
}

.article h1 {
    color: black;
    text-transform: capitalize;
    font-size: 1.6rem;
    margin: 0.5em 0 0.5em 0;
    font-weight: 300;
}

.article a {
    text-decoration: none;
}

.article_1, .article_2, .article_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 100px;
    margin: 1em;
    padding: 0.5em;
    border: none;
    /* box-shadow: 0 0 4px rgb(134, 130, 130); */
    border: 2px solid lightgray;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 500ms ease;
}

.btn:hover {
    background-color: #eee;
}

/* ==============================Footer============================ */
footer {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer h1 {
    font-size: 1.8em;
    margin: 0.2em;
    font-weight: 300;
    display: inline-block;
}

.social_icon_container {
    display: flex;
}

.social_icon {
    width: 2em;
    margin: 0.5em 1em;
}

/* ==================================================
for Media Query - Below 350 px
================================================== */

@media screen and (max-width: 350px) {

/* ======================Header====================== */

header {
    position: relative;
    margin-bottom: 0.5em;
    box-shadow: none;
}

.logo {
    width: 65px;
}

.logo_plus_info {
    flex-direction: column;
    justify-content: center;
}

.info {
    margin: 0;
}

.my_name {
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
}

.my_info {
    font-size: 1.4rem;
    text-align: center;
}

/* =================================Main============================ */
main {
    padding-top: 0px;
}

#hero img {
    box-shadow: 0 0 4px gray;
}

.section_header {
    text-align: center;
}

/* =================================Footer====================================== */

footer h1 {
    margin-bottom: 0;
}
}

/* ==================================================
for screen size between 351 and 420 px
================================================== */

@media screen and (min-width: 351px) and (max-width: 420px) {

/* ======================Header====================== */

header {
    position: fixed;
    margin-bottom: 0.5em;
}

.logo {
    width: 65px;
}

.logo_plus_info {
    margin: 0 4px;
}

.info {
    margin: 0;
}

.my_name {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: right;
}

.my_info {
    font-size: 1.4rem;
    text-align: right;
}

/* =================================Main============================ */
main {
    padding-top: 90px;
}

#hero img {
    box-shadow: 0 0 4px gray;
}

.section_header {
    text-align: center;
}

/* =================================Footer====================================== */

footer h1 {
    margin-bottom: 0;
}
}